
* {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 25px;
    color: navy;
    margin:0;
    padding:0;
    
}

.buttoncontainer a,#applybutton {
    display: inline-block;
    text-decoration: none;
    padding: 15px;
    background-color: navy;
    border: 2px solid white;
    color: white;
    margin: 10px;
    width: 200px;
    cursor: pointer;
}

.buttoncontainer {
    display: flex;
    flex-direction: column;
    position: absolute;
   
    top: 30px;
    right: 30px;
}

.subtitle {
   margin-top: 15px;
    font-size: 28px;
}

.gradient {
    width: 100%;
    height: 150px;
    background-image:linear-gradient(to right,navy,navy);
    margin: 0px 0 20px 0;
    display: none;
    
}

ul,h3,p {
    text-align:left;

}

img {
    width: 300px;
}

.hero {
    background-image: url("./assets/images/washingtondc.jpg");
    height: 100vh;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
}

h1 {
    position: absolute;
    width:100%;
    top: 10px;
    color: white;
}

.modal {
    position:fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0,0, 0, .5);
    display:none;

}

.modal div{
    background-color: white;
    margin: 13% auto;
    width: 500px;
    height: 500px;
    color:red;
    border-radius: 10%;
    font-size: 30px;
    padding:55px 10px;
    position:relative;
}

#closebutton{
    position:absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
}

h2 {
    font-weight: bold;
    font-size: 50px;
    font-style: italic;
}

.weather{
    position:absolute;
    color:white;
    text-align: left;
    padding: 50px;
}