body {
    font-family: sans-serif;
  }
  h1 {
    text-align: center;
    color: blue;
    margin: 30px 0 50px;
  }
  .gallery {
    margin: 10px 50px;
  }
  .gallery.img {
    width: 230px;
    padding: 5px;
    filter: grayscale(100%);
  }
  .gallery img:hover {
    filter: grayscale(0);
  }  